footer {
   text-align: center;
   padding: 7rem 1.5rem;

   h3 {
      background-color: lighten($c-blue, 45%);
      border-radius: 3px;
      color: $c-blue;
      display: inline-block;
      font-size: $font-m;
      letter-spacing: 1px;
      padding: 0.5rem;
      margin-bottom: 1.5rem;

      &.dark {
         background-color: rgba($c-blue, 0.2);
      }
   }

   span {
      display: block;
   }

   &.dark {
      background-color: darken($c-jaguar, 3%);
   }
}