.site-head {
   background: darken($c-white, 3%);
   padding: 1rem 0;

   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}

.logo span {
   color: $c-navy;
   font-size: $h1;
}

.theme-icon {
   background: transparent;
   border: none;
   display: flex;
   align-items: center;
   
   svg {
      fill: $c-navy;
   }
}