.site-head {
   background-color: darken($c-white, 3%);
   padding: 1.5rem 0;

   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &.dark {
      background-color: $c-jaguar;
   }
}

.logo {
   span {
      color: $c-navy;
      font-size: $h1;
   }

   &.dark {
      color: lighten($c-gray, 30%);

      span {
         color: $c-blue;
      }
   }
}

.theme-icon {
   background-color: transparent;
   border: none;
   display: flex;
   align-items: center;

   svg {
      fill: $c-navy;
   }

   &.dark {
      svg {
         fill: lighten(#fd7e14, 20%);
      }
   }
}
