.statistics {
   // padding: $section-padding;
}

.statistics-inner {
   padding: $section-padding;
   display: flex;

   & > * {
      flex: 1;
   }
}

.vaccine {
   display: flex;
   justify-content: center;
   margin-bottom: 3rem;
}
.vaccine-inner {
   color: $c-green;
   // display: inline-block;
   font-weight: 600;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background: lighten($c-green, 50%);
   padding: 0.8rem;
   border-radius: 3px;
   font-size: $font-s;

   span {
      margin: 0 0.5rem;
      font-size: $font-s;
      font-weight: 600;
   }

   svg {
      fill: $c-green;
      height: 18px;
      width: 18px;
   }
}


@media (max-width: 800px) {
   .statistics-inner {
      flex-direction: column;
   }
}