// Summary
.summary {
   padding: $section-padding;
}
.update-time {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 4rem;

   svg {
      fill: $c-gray;
      height: 18px;
      width: 18px;
   }

   .time {
      margin-left: 10px;
   }
}

.summary-inner {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 3px;
   // grid-template-rows: 20rem;
   // justify-items: center;
}

// SummaryBox
.summary-box {
   display: grid;
   grid-template-rows: 2fr 1fr 3fr 2fr;
   justify-items: center;
   align-items: center;
   padding: 1rem 0.5rem;
   
   &:nth-child(1) {
      color: $c-red;
      background: #FFC5D0;
      border-radius: 2px;

      svg {
         fill: $c-red;
         height: 30px;
         width: 30px;
      }
   }
   &:nth-child(2) {
      color: $c-blue;
      background: #D1E7FF;
      border-radius: 2px;

      svg {
         fill: $c-blue;
         height: 30px;
         width: 30px;
      }
   }
   &:nth-child(3) {
      color: $c-green;
      background: #CCEAD4;
      border-radius: 2px;

      svg {
         fill: $c-green;
         height: 30px;
         width: 30px;
      }
   }
   &:nth-child(4) {
      color: $c-gray;
      background: #E5E6E8;
      border-radius: 2px;

      svg {
         fill: $c-gray;
         height: 30px;
         width: 30px;
      }
   }

   .title {
      font-weight: 600;
   }

   .new-cases {
      font-weight: 700;
   }

   .total-cases {
      font-size: $font-l;
      font-weight: 700;
   }
}

@media (max-width: 800px) {
   .summary-inner {
      grid-template-columns: repeat(2, 1fr);
   }
}