// Summary Component
.summary {
   padding: $padding-top;
}

.update-time {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 3rem;

   svg {
      fill: $c-gray;
      height: 18px;
      width: 18px;
   }

   .time {
      margin-left: 1rem;
   }
}

.summary-inner {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 0.4rem;
}

// SummaryBox Component
.summary-box {
   display: grid;
   grid-template-rows: 2fr 1fr 3fr 2fr;
   align-items: center;
   justify-items: center;
   padding: 1rem 0.5rem;

   .new-cases {
      font-size: $font-m;
      font-weight: 700;
   }

   .total-cases {
      font-size: $font-l;
      font-weight: 700;
   }
}

$box-mapping: 
   1 $c-red lighten($c-red, 38%), 
   2 $c-blue lighten($c-blue, 43%), 
   3 $c-green lighten($c-green, 48%), 
   4 $c-gray lighten($c-gray, 48%);

   @each $child, $color, $bg in $box-mapping {
      .summary-box:nth-child(#{$child}) {
         color: $color;
         background-color: $bg;
         border-radius: 5px;

         svg {
            fill: $color;
            height: 30px;
            width: 30px;
         }

         &.dark {
            background-color: rgba(darken($bg, 40%), 0.2);
         }
      }
   }

@media (max-width: 1200px) {
   .summary-inner {
      grid-template-columns: repeat(2, 1fr);
   }
}