.table-headings {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   text-align: center;
   gap: 3px;
}

.zz {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   text-align: center;
   gap: 3px;
}

.cell {
   background: darken($c-white, 3%);
   margin-bottom: 3px;
   border-radius: 3px;
   padding: 1rem 0.5rem;
}