.table {
   // padding: $section-padding;
}
.table-inner {
   overflow-x: auto;
}

.table-headings,
.table-row {
   display: grid;
   grid-template-columns: minmax(125px, 1fr) repeat(4, minmax(90px, 1fr));
   gap: 4px;
}

.table-row:nth-child(even) {
   .cell {
      background: darken($c-white, 3%);
   }
}

.cell {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   border-radius: 3px;
   font-size: $font-s;
   font-weight: 600;
   padding: 10px 5px;
   margin-bottom: 4px;

   &.bold {
      background: darken($c-white, 3%);
      font-weight: 700;
   }

   &:nth-child(1) {
      position: sticky;
      left: 0;
   }
}