// TableHead Component
.table-head {
   position: relative;
   margin-bottom: 0.4rem;

   .table-btn {
      background-color: darken($c-white, 3%);
      border: none;
      border-radius: 5px;
      display: inline-flex;
      padding: 0.8rem;
      margin-right: 0.4rem;

      &:nth-child(4) {
         position: absolute;
         right: 0;
         margin: 0;
      }

      &.active {
         background-color: lighten($c-green, 45%);

         svg {
            fill: darken($c-green, 8%);
         }
      }
   }

   svg {
      fill: $c-gray;
      height: 18px;
      width: 18px;
   }

   &.dark {
      .table-btn {
         background-color: $c-jaguar;
      }
   }
}

// Table Component
.table-inner {
   overflow-x: auto;
}

.table-headings,
.table-row {
   display: grid;
   grid-template-columns: minmax(125px, 1fr) repeat(4, minmax(90px, 1fr));
   gap: 0.4rem;
}

.table-row:nth-child(even) {
   .cell {
      background-color: darken($c-white, 3%);

      &.dark {
         background-color: $c-jaguar;
      }
   }
}

.cell {
   border-radius: 3px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 1rem 0.5rem;
   margin-bottom: 0.4rem;

   &.bold {
      background-color: darken($c-white, 3%);
      font-weight: 700;

      &.dark {
         background-color: $c-jaguar;
      }
   }

   &:nth-child(1) {
      position: sticky;
      left: 0;
   }
}
