.table-head {
   position: relative;
   margin-bottom: 0.4rem;

   .table-btn {
      background: darken($c-white, 3%);
      border: none;
      border-radius: 5px;
      display: inline-flex;
      padding: 0.8rem;
      margin-right: 0.4rem;

      &:focus {
         outline: none;
      }

      &:nth-child(4) {
         position: absolute;
         right: 0;
         margin: 0;
      }

      &.active {
         background: lighten($c-blue, 40%);

         svg {
            fill: $c-blue;
         }
      }
   }

   svg {
      fill: $c-gray;
      height: 18px;
      width: 18px;
   }
}