.table-headings {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   text-align: center;
}

.zz {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   text-align: center;
}