.tested {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.tested-left {
   padding-right: 3rem;
   
   h2 {
      background-color: lighten($c-navy, 33%);
      border-radius: 5px;
      color: $c-navy;
      display: inline-block;
      padding: 0.3rem 0.6rem;
   }

   p {
      margin-top: 0.6rem;
   }

   &.dark {
      h2 {
         background-color: rgba($c-blue, 0.2);
         color: $c-blue;
      }
   }
}

.tested-right {
   text-align: end;

   h3, p {
      color: lighten($c-purple, 15%);
   }

   .sample-tested {
      color: $c-purple;
      font-size: 2.2rem;

      &.dark {
         color: lighten($c-purple, 15%);
      }
   }
}