// TimeSeriesHead Component
.time-series-head {
   margin-top: 4rem;

   h2 {
      text-align: center;
      margin-bottom: 3rem;
   }
}

.time-series-range {
   border-radius: 5px;
   display: inline-block;
   margin-bottom: 0.5rem;
   overflow: hidden;
   vertical-align:top;

   .range-btn {
      background-color: lighten($c-mustard, 40%);
      border: none;
      border-right: 2px solid lighten($c-mustard, 30%);
      color: $c-mustard;
      padding: 1rem;
   
      &:last-child {
         border-right: none;
      }
   
      &.active {
         background-color: lighten($c-mustard, 30%);
      }
   }

   &.dark {
      .range-btn {
         background-color: rgba($c-mustard, 0.2);
         border-right: 2px solid rgba($c-mustard, 0.4);

         &:last-child {
            border-right: none;
         }

         &.active {
            background-color: rgba($c-mustard, 0.4);
         }
      }
   }
}

.state-list {
   appearance: none;
   background: url('./../images/chevron.svg') no-repeat calc(100% - 0.8rem) center darken($c-white, 3%);
   border: 2px solid darken($c-white, 13%);
   border-radius: 5px;
   color: $c-gray;
   cursor: pointer;
   display: block;
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   line-height: inherit;
   max-width: 100%;
   padding: 0.8rem 2.5rem 0.8rem 0.8rem;

   &:focus {
      outline: none;
   }

   option {
      font-weight: inherit;
   }

   &.dark {
      background-color: $c-jaguar;
      border: 2px solid lighten($c-jaguar, 15%);
   }
}

// Chart Component
.chart-wrapper {
   margin-top: 2rem;

   &:nth-child(1) .chartjs-render-monitor {
      background-color: lighten($c-red, 43%);
   } 

   &:nth-child(2) .chartjs-render-monitor {
      background-color: lighten($c-blue, 45%);
   }

   &:nth-child(3) .chartjs-render-monitor {
      background-color: lighten($c-green, 50%);
   } 

   &:nth-child(4) .chartjs-render-monitor {
      background-color: lighten($c-gray, 50%);
   }

   &.dark {
      &:nth-child(1) .chartjs-render-monitor {
         background-color: rgba($c-red, 0.2);
      } 
   
      &:nth-child(2) .chartjs-render-monitor {
         background-color: rgba($c-blue, 0.2);
      }
   
      &:nth-child(3) .chartjs-render-monitor {
         background-color: rgba($c-green, 0.2);
      } 
   
      &:nth-child(4) .chartjs-render-monitor {
         background-color: rgba($c-gray, 0.2);
      }
   }
}

.chartjs-render-monitor {
   border-radius: 10px;
   width: 100% !important;
}
