.vaccine {
   display: flex;
   justify-content: center;
   margin-bottom: 3rem;
}

.vaccine-inner {
   background: lighten($c-red, 45%);
   border-radius: 5px;
   color: $c-red;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;

   span {
      font-size: $font-s;
      font-weight: 600;

      &:nth-child(2) {
         margin: 0 0.5rem;
      }
   }

   svg {
      fill: $c-red;
      height: 18px;
      width: 18px;
   }
}