.vaccine {
   display: flex;
   justify-content: center;
   margin-bottom: 3rem;
}

.vaccine-inner {
   background-color: lighten($c-red, 45%);
   border-radius: 5px;
   color: $c-red;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 0.8rem 0.6rem;

   span {
      margin-left: 0.5rem;
   }

   svg {
      fill: $c-red;
      height: 18px;
      width: 18px;
   }

   &.dark {
      background-color: rgba($c-red, 0.2);
   }
}