// System
@import './base/config';
@import './base/utilities';
@import './base/global';

// Components
@import './components/covid-app';
@import './components/header';
@import './components/summary';
@import './components/vaccine';
@import './components/table-head';
@import './components/table';
@import './components/tested';
@import './components/time-series';
@import './components/footer';