// Fonts
$font-primary: 'Montserrat', sans-serif; // 300,400,500,600,700

// Header(Tag) sizes
$h1: 2.2rem; // clamp(4.5rem, calc(3rem + 4vw), 9rem)
// $h2: clamp(2.5rem, calc(2rem + 1vw), 4rem);
// $h3: clamp(1.4rem, calc(1rem + 0.75vw), 2rem);

// Text Sizes
$font-l: 2.6rem; // clamp(1.8rem, calc(1.5rem + 0.75vw), 2.4rem)
$font-m: 1.5rem; // clamp(1.5rem, calc(1rem + 0.6vw), 1.8rem)
$font-s: 1.3rem;

// Colors
$c-black: #252525;
$c-red: #e23028;
$c-green: #28a745;
$c-blue: #4c75f2;
$c-gray: #6c757d;
$c-white: #fff;

// Section padding
$padding-top: clamp(5rem, calc(4rem + 1vw), 7rem) 0 0 0;