// Fonts
$font-primary: 'Fira Sans', sans-serif; // 400, 500, 600, 700

// Header sizes
$h1: 2.2rem;
$h2: 2.5rem;

// Text Sizes
$font-l: clamp(2.2rem, calc(1.5rem + 1vw), 3rem);
$font-m: 1.5rem;
$font-s: 1.3rem;

// Colors
$c-black: #252525;
$c-blue: #007bff;
$c-gray: #6c757d;
$c-green: #28a745;
$c-jaguar: #1e1e30;
$c-mustard: #fd7e14;
$c-navy: #4c75f2;
$c-purple: #3F3AAE;
$c-red: #e23028;
$c-white: #fff;

// Paddings & Margins
$padding-top: clamp(5rem, calc(4rem + 1vw), 7rem) 0 0 0;